<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin panel _ Host-it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Your all in one gaming platform. Engage in tournaments and conquer">
    <link rel="stylesheet" type="text/css" href="css/admin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>

<body class="custom">
    <nav class="navbar navbar-expand-lg navbar-dark py-0 static-top">
        <div class="container-fluid iii" id="tot_navbar">
            <a class="navbar-brand" href="/dashboard">
                <img src="https://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" id="">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav p-2 ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link middle" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="/videos">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="#footer">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" onclick="logout()">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container p-0 mt-3">

        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="games-tab" data-toggle="tab" href="#games" role="tab"
                    aria-controls="games" aria-selected="true">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user"
                    aria-selected="false">Tournament </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="request-tab" data-toggle="tab" href="#request" role="tab" aria-controls="request"
                    aria-selected="false">Requests </a>
            </li>
        </ul>


        <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="games" role="tabpanel" aria-labelledby="games-tab">
                <div class="p-3">

                    <h4 class="text-warning mb-3">Add Banner</h4>
                    <form class="needs-validation px-2" novalidate>
                        <div class="img_section">
                            <img class="mx-auto w-100 img-responsive" id="bannerimg">
                        </div>
                        <input type="file" accept="image/*" name="image" id="bannerImgFile" onchange="readURL(this)"
                            style="display: none;" required>
                        <div class="invalid-feedback">
                            <p>image is empty</p>
                        </div>
                        <label for="bannerImgFile" style="cursor: pointer;"
                            class="border px-5 py-2 rounded"><small>Upload banner Image</small></label>

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label for="bannerDesc"><small>Description</small></label>
                                <input type="text" id="bannerDesc" class="form-control bg-dark text-white" required>
                            </div>
                            <div class="col-md-6">
                                <label for="bannerTournamentList"><small>Tournament</small></label>
                                <select class="browser-default custom-select bg-dark text-white" required
                                    id="bannerTournamentList">
                                    <option value="" disabled selected>Choose option</option>
                                </select> </div>
                        </div>
                        <div class="progress mx-5 d-none" id="uploadProgress-1">
                            <div id="dynamic-1" class="progress-bar bg-success progress-bar-striped active"
                                role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                style="width: 0%">
                                <span id="current-progress"></span>
                            </div>
                        </div>
                        <button class="btn btn-primary" onclick="addBanner()" id="create_banner">create banner</button>
                        <button class="btn btn-success btn-sm mt-3 float-right" type="reset"> reset</button>
                    </form>

                    <hr class="bg-primary">


                    <h4 class="text-warning mt-5">Add games</h4>
                    <form class="needs-validation px-2 mb-4" novalidate>

                        <div class="img_section">
                            <img class="mx-auto img-responsive" id="gameimg">
                        </div>
                        <input type="file" accept="image/*" name="image" id="gameImgFile" onchange="readURL(this)"
                            style="display: none;" required>
                        <div class="invalid-feedback">
                            <p>image is empty</p>
                        </div>
                        <label for="gameImgFile" style="cursor: pointer;" class="border px-5 py-2 rounded"><small>Upload
                                Game Image</small></label>
                        <div class="progress mx-5 d-none" id="uploadProgress-2">
                            <div id="dynamic-2" class="progress-bar bg-success progress-bar-striped active"
                                role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                style="width: 0%">
                                <span id="current-progress-2"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 pb-1">
                                <label for="gameTitle"><small>Game Name</small></label>
                                <input type="text" id="gameTitle" class="form-control bg-dark text-white" required>
                            </div>
                            <div class="col-md-6 pb-1">
                                <label for="gameMode"><small> Game Mode</small></label>
                                <input type="text" id="gameMode" class="form-control bg-dark text-white" required>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-6 pb-1">
                                <label for="gameTeamSize"><small>Team Size</small></label>
                                <input type="text" id="gameTeamSize" class="form-control bg-dark text-white" required>
                            </div>
                            <div class="col-md-6 pb-1">
                                <label for="gameTags"><small>Enter tags</small></label>
                                <input type="text" id="gameTags" class="form-control bg-dark text-white" required>
                            </div>
                        </div>
                        <button class="btn btn-primary" onclick="addGame()">create game</button>
                        <button class="btn btn-success btn-sm mt-3 float-right" type="reset"> reset</button>
                    </form>

                    <hr class="bg-primary">
                    <form class="needs-validation" novalidate>
                        <h4 class="text-warning mt-5">Add tournaments</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <small>Tournamet Name</small>
                                <input type="text" id="requestTournamentName" placeholder="Tournament Name"
                                    class="form-control bg-dark text-white my-2" required>

                                <small>Total Seats</small>
                                <input type="number" id="requestTotalseats" placeholder="Total Seats"
                                    class="form-control bg-dark text-white my-2" required>

                                <small>Entry Fee</small>
                                <input type="number" id="requestEntryFee" placeholder="Entry Fee"
                                    class="form-control bg-dark text-white my-2" required>

                                <small>Prize Pool</small>
                                <input type="text" id="requestPrizePool" placeholder="Prize Pool"
                                    class="form-control bg-dark text-white my-2" required>

                                <div class="form-group shadow-textarea">
                                    <label for="requestRules"><small> Rules</small></label>
                                    <textarea class="form-control bg-dark text-white z-depth-1" id="requestRules"
                                        rows="3" required></textarea>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <small>Select time</small>
                                <input type="text" id="requestTournamentTime" placeholder="Pick a Time"
                                    data-id="datetime" class="form-control bg-dark text-white my-2 w-md-50 mx-auto"
                                    readonly="readonly" required>

                                <small>Tournamet Name</small>
                                <select class="browser-default custom-select bg-dark text-white my-2 mb-4"
                                    id="requestGame" placeholder="sdbk" onchange="gameEditPageAction()" required>
                                    <option value="" disabled selected>Choose...</option>
                                </select>


                                <div class="input-group mb-3">
                                    <div class="input-group-prepend ">
                                        <label class="input-group-text bg-dark text-white my-2 pr-4"
                                            for="requestTeamSize">Team
                                            size</label>
                                    </div>
                                    <select class="browser-default custom-select bg-dark text-white my-2"
                                        id="requestTeamSize" required>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text bg-dark text-white my-2"
                                            for="requestGameMode">Game
                                            mode</label>
                                    </div>
                                    <select class="browser-default custom-select bg-dark text-white my-2"
                                        id="requestGameMode" required>
                                    </select>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text pr-4 bg-dark text-white my-2"
                                            for="requestGameTag">Game
                                            tag</label>
                                    </div>
                                    <select class="browser-default custom-select bg-dark text-white my-2"
                                        id="requestGameTag" required>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <button class="btn btn-primary" onclick="requestTournament()">create Tournament</button>
                        <button class="btn btn-success btn-sm mt-3 float-right" type="reset"> reset</button>
                    </form>

                </div>
            </div>

            <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">

                <div class="container-fluid">
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-3 border-right request-tab-list my-2">

                            <ul class="nav nav-pills text-warning d-flex flex-column">
                                <li class="nav-item mx-2 mb-2">
                                    <a class="nav-link active" data-toggle="tab" href="#pane1" role="tab">Tournament create
                                        </a>
                                </li>
                                <li class="nav-item mx-2 mb-2">
                                    <a class="nav-link" data-toggle="tab" href="#pane2" role="tab">Tournament Requests</a>
                                </li>
                            </ul>

                        </div>

                        <!--Grid column-->
                        <div class="col-md-9 px-0 mb-4">
                            <!-- <div class="tab-content pt-0"> -->
                            <div class="tab-pane fade in show active" id="pane1" role="tabpanel">

                            </div>
                            <!-- </div> -->

                            <div class="tab-pane fade" id="pane2" role="tabpanel">
                                <div class="">
                                    <div class="card">
                                        <div class="card-body  bg-dark rounded-lg m-4">
                                            <h3 id="tournamentCardsNAMES" class="card-title text-primary text-upper">
                                                test</h3>
                                            <div class="row mb-2 border-bottom">
                                                <div id="tournamentGameName" class="col-2 text-center p-1 border-right">
                                                    Pubg
                                                </div>
                                                <div id="tournamentCardsAMOUNT"
                                                    class="col-2 text-center p-1 border-right">Amount <br>1
                                                </div>
                                                <div id="tournamentCardsTIME"
                                                    class="col-4 text-center border-right p-1">Oct 07,
                                                    2020<br>11:32 PM</div>
                                                <div id="tournamentCardsPLAYERS"
                                                    class="col-2 text-center border-right p-1">seats <br>2/7
                                                </div>
                                                <div id="tournamentCardsNAME" class="col-2 p-1 text-center">prize
                                                    pool<br>45</div>
                                            </div>
                                            <h4><span class="text-warning ml-2 mt-3"> Created by : </span><span
                                                    class="">yoeswin</span>
                                            </h4>
                                            <h3 id="tournamentGameName" class="ml-2">Rules</h3>
                                            <div class="ml-4 pl-2 border-left">sbfb yqwgdg qw eiqwiuh qiuwe hiq
                                                wdiqwgdivqjwvhjqwi qiwge iq
                                                giw
                                                iqweiqwi gq weiqiwehiuqwh iqq ewiuqwhie iqweiqwi egqweq wiegqw iuqwiueh
                                                iuqw iegqiweqwiqw
                                                iqgweiqiwehwheiu qwigiqwehqwiGYDGbbnmabsdhggwegiqwie qwgq
                                                wdbhdyIGQWqwbewbeuiahdQE
                                                ASDBBjjjeiegygedbevoajsdgvuedjjehdjh deygwef wefwef wfe u fe we ff
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-light btn-sm px-3 mx-2">&lt;&lt;
                                            prev</button>
                                        <button type="button" class="btn btn-light btn-sm px-3 mx-2">next
                                            &gt;&gt;</button>
                                    </div>
                                </div>
                            </div>
                            <!-- panel 2 tab end -->
                        </div>
                    </div>
                    <!--Grid column-->
                </div>






            </div>

            <div class="tab-pane fade" id="request" role="tabpanel" aria-labelledby="request">
                <div class="container-fluid">
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-3 border-right request-tab-list my-2">

                            <ul class="nav nav-pills text-warning d-flex flex-column">
                                <li class="nav-item mx-2 mb-2">
                                    <a class="nav-link active" data-toggle="tab" href="#panel11" role="tab">User
                                        Requests</a>
                                </li>
                                <li class="nav-item mx-2 mb-2">
                                    <a class="nav-link" data-toggle="tab" href="#panel12" role="tab">Wallet Requests</a>
                                </li>
                            </ul>

                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-9 px-0 mb-4">
                            <div class="tab-content pt-0">
                                <div class="tab-pane fade in show active" id="panel11" role="tabpanel">
                                    <div class="py-4" id="userReq">

                                        <div class="d-flex justify-content-between flex-wrap col-12"
                                            id="userRequestTab">

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="panel12" role="tabpanel">
                                    <div class="p-3">

                                        <div class="custom-control custom-checkbox custom-control-inline ml-3">
                                            <input type="checkbox" class="custom-control-input" id="walletPendingFilter">
                                            <label class="custom-control-label" for="walletPendingFilter">Pending</label>
                                        </div>

                                        <div class="custom-control custom-checkbox custom-control-inline ml-3">
                                            <input type="checkbox" class="custom-control-input" id="walletApproveFilter">
                                            <label class="custom-control-label" for="walletApproveFilter">Approved</label>
                                        </div>

                                        <div class="custom-control custom-checkbox custom-control-inline ml-3">
                                            <input type="checkbox" class="custom-control-input" id="walletRejectFilter">
                                            <label class="custom-control-label" for="walletRejectFilter">Rejected</label>
                                        </div>

                                        <div id="dynamicWalletReqParent">
                                            <!-- dynamic wallet list -->
                                            <div class="d-flex justify-content-between flex-wrap col-12 p-1 py-3"
                                                 id="walletRequest">

                                            </div>
                                            <!-- dynamic wallet list end -->

                                        </div>
                                    </div>
                                </div>
                                <!-- panel 2 tab end -->
                            </div>
                        </div>
                        <!--Grid column-->
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-firestore.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <script src="./js/Constants.js"></script>
    <script src="./js/admin.js"></script>

</body>

<script>
    loadAdminJS()
</script>

</html>