<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Host-it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Your all in one gaming platform. Engage in tournaments and conquer">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">

    <style>
        .carousel {
            background: #2f4357;
        }

        .carousel-item {
            text-align: center;
            max-height: 240px;
            /* Prevent carousel from being distorted if for some reason image doesn't load */
        }
    </style>
    <script src="js/BannerLoader.js"></script>
    <script src="js/TournamentLoader.js"></script>

</head>

<body class="custom">
    <nav class="navbar navbar-expand-lg navbar-dark py-0 static-top">
        <div class="container-fluid iii">
            <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link middle" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="#">videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link middle" href="#footer">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="">

        <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">

            <!-- Wrapper for carousel items -->
            <div class="carousel-inner" id="bannerList">

            </div>
            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>



    <div class="container my-5">
        <div class="row" id="tournamentCards">

        </div>
    </div>


    <!-- Footer section  -->

    <section class="footer mt-5" id="footer">
        <div class="container">
            <div class="social-circle-btn p-2 m-2 d-flex justify-content-center">
                <div class="btnn instagram">
                    <i class="fab fa-instagram fa-xs"></i>
                </div>
                <div class="btnn facebook">
                    <i class="fab fa-facebook fa-xs"></i>
                </div>
                <div class="btnn twitter">
                    <i class="fab fa-twitter fa-xs"></i>
                </div>
                <div class="btnn whatsapp">
                    <i class="fab fa-whatsapp fa-xs"></i>
                </div>
                <div class="btnn youtube fa-xs">
                    <i class="fab fa-youtube"></i>
                </div>
            </div>

        </div>
        <p class="bg-primary mb-0 py-1 w-100 text-center"> Made with <i class="fas fa-heart"></i></p>
    </section>

    <script>
        fetchBanners();
        fetchTournaments();
    </script>
</body>

</html>