<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Host-it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Your all in one gaming platform. Engage in tournaments and conquer">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

</head>

<body class="custom">

    <section class="header container-fluid d-flex flex-column ">
        <h2 class="shimmer " id="userName"> hellrrlld</h2>
        <p>Enter the world of gamerz</p>
        <button onclick="login()">login</button>
    </form>  
    </section>

    <hr />
    <section class="games">
        <div class="container py-4">
            <h3 class="games-heading mb-4">GAMES</h2>
                <div class="game-scroll px-3">
                    <div class="row d-flex flex-nowrap">
                        <div class="col-3 bg-dark py-5 mr-4 card">
                            <h4>Card</h4>
                        </div>
                        <div class="col-3 mr-4 card">
                            <h2>Card</h2>
                        </div>
                        <div class="col-3 mr-4 card">
                            <h2>Card</h2>
                        </div>
                        <div class="col-3 mr-4 card">
                            <h2>Card</h2>
                        </div>
                        <div class="col-3 mr-4 card">
                            <h2>Card</h2>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <hr />

    <div class="container py-2">
        <div class="row align-items-center">
            <div class="col-sm-6 py-2 text-center">
                <h2 class="content-heading">Install and Compete</h2>
                <p class="download-desc px-md-4">Download our app for smoooth and engaging user experience at your
                    finger tips.</p>
                <a
                    href='https://play.google.com/store/apps/details?id=com.activision.callofduty.shooter&hl=en_IN&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                        alt='Get it on Google Play' class="download-redirect w-100 pb-2"
                        src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png' /></a>
            </div>
            <div class="col-sm-6 py-3">
                <img src="img/app-down.svg" alt="Nature" class="mx-auto mb-4 mb-md-0 d-block my-3 download-img w-100">
            </div>
        </div>

    </div>
    <hr />
    <section class=" youtube">

    </section>
    <section class="footer">

    </section>
    <hr>
    <!-- Site footer -->
    <section class="footer">

    </section>
    <!-- <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div> -->

</body>
<script>
    function login(){
        var firebaseConfig = {
            apiKey: "AIzaSyBl_PAX0VGLEvIiFWdjWAEazUM7MJEV-1Y",
            authDomain: "hostitgaming-36a6b.firebaseapp.com",
            databaseURL: "https://hostitgaming-36a6b.firebaseio.com",
            projectId: "hostitgaming-36a6b",
            storageBucket: "hostitgaming-36a6b.appspot.com",
            messagingSenderId: "916041965514",
            appId: "1:916041965514:web:88009790aa188d22947933",
            measurementId: "G-LQMV0QYN8B"
        };

        firebase.initializeApp(firebaseConfig);

        firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
                let user;
                const googleAuth = new firebase.auth.GoogleAuthProvider();
                firebase.auth().signInWithPopup(googleAuth).then(function(result) {
                    user = result.user;
                    return result.user.getIdToken().then((idToken) => {
                        return fetch("/sessionLogin", {
                            method: "POST",
                            headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json",
                                "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                            },
                            body: JSON.stringify({ idToken }),
                        });
                    });
                })
                    .then(() => {
                        return firebase.auth().signOut();
                    })
                    .then(() => {
                        console.log("logged in")
                        document.getElementById("userName").innerHTML = user.displayName;
                    });
                return false;
    }
</script>
</html>