<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Host-it</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Your all in one gaming platform. Engage in tournaments and conquer">
    <link rel="stylesheet" type="text/css" href="css/videos.css">

</head>

<body class="custom">
    <div class="video-header gradient">

    </div>
    <div class="container-fluid">

        <div class="d-flex flex-wrap justify-content-between row my-4 mx-md-2" id="video">

        </div>

    </div>

    <!-- footer  -->
    <section class="footer mt-5" id="footer">
        <div class="container">
            <div class="social-circle-btn p-2 m-2 d-flex justify-content-center">
                <div class="btnn instagram">
                    <i class="fab fa-instagram fa-xs"></i>
                </div>
                <div class="btnn facebook">
                    <i class="fab fa-facebook fa-xs"></i>
                </div>
                <div class="btnn twitter">
                    <i class="fab fa-twitter fa-xs"></i>
                </div>
                <div class="btnn whatsapp">
                    <i class="fab fa-whatsapp fa-xs"></i>
                </div>
                <div class="btnn youtube fa-xs">
                    <i class="fab fa-youtube"></i>
                </div>
            </div>

        </div>
        <p class="bg-primary mb-0 py-1 w-100 text-center"> Made with <i class="fas fa-heart"></i></p>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/videos.js"></script>

</body>

</html>