@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.custom {
    background-color: #323232;
    line-height: 1.3;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Squada One', cursive;
}

html {
    height: 100%;
    width: 100%;
}

.header h3 {
    font-size: 2.2rem;
    line-height: 1;
}

.header h1 {
    font-size: 4rem;
    color: rgb(24, 130, 252);
}

.header-btn {
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 1em;
    max-width: 160px;
    position: relative;
    text-transform: uppercase;
    width: 100%;
}

@media (min-width: 600px) {
    .btn {
        margin: 0 1em 2em;
    }
}

.btn:hover {
    text-decoration: none;
}

.btn-1 {
    font-weight: 100;
}

.btn-1 svg {
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.btn-1:hover {
    background: rgb(0, 204, 255);
    font-weight: 900;
    letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


/* games section */
.games-heading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.game-scroll {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.game-scroll::-webkit-scrollbar {
    display: none;
}

.game-scroll .game-scroll-box {
    display: inline-block;
    float: none;
    padding: 15px;
    border: 1px solid red;
}

/* games section end */

/* download section */
.content-heading {
    font-size: 1.7rem;
    font-weight: bold;
    color: #FFFFF0;
}

.download-desc {
    font-size: 0.9rem;
    color: #a3a3a3;
    text-align: center;
    margin: 0 30px 30px;
}

.download-redirect {
    max-width: 130px;
}

.download-img {
    max-width: 250px;
}

/* download section end  */
.header {
    height: 100vh;
    background: linear-gradient(to bottom, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    background-color: white;
}


/* Footer */
.social-circle-btn .btn {
    height: 2.6rem;
    width: 2.6rem;
    margin: .6rem;
    float: left;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background: #2d2a2a;
}


.btn:hover {
    transition: all 1s ease;
    cursor: pointer;
}

.instagram:hover {
    background-image: linear-gradient(to right top, #fcac0f, #fd9522, #fa7f30, #f36a3c, #e85647, #e44751, #dd395b, #d42d65, #d12174, #ca1b85, #be1e96, #ae27a8);
}

.facebook:hover {
    background-image: linear-gradient(to right top, #405d9a, #3f5c9a, #3e5b99, #3c5a99, #3b5998);
}

.twitter:hover {
    background-image: radial-gradient(circle, #1d9ceb, #1d9ceb, #1d9ceb, #1d9ceb, #1d9ceb);

}

.whatsapp:hover {
    background: #00bb4a;
}
.youtube:hover{
    background: #ff0000;
  }